services:
  app:
    build:
      context: ./backend
      dockerfile: Dockerfile.app
    ports:
      - "8078:8078"
    environment:
      - NEUROAGENT_DB__PREFIX=postgresql+asyncpg://
      - NEUROAGENT_DB__HOST=postgres
      - NEUROAGENT_DB__PORT=5432
      - NEUROAGENT_DB__USER=postgres
      - NEUROAGENT_DB__PASSWORD=pwd
      - NEUROAGENT_DB__NAME=neuroagent
      - NEUROAGENT_KEYCLOAK__ISSUER=${KEYCLOAK_ISSUER}
      - NEUROAGENT_LLM__OPENAI_TOKEN=${OPENAI_API_KEY}
      - NEUROAGENT_STORAGE__ENDPOINT_URL=http://minio:9000
      - NEUROAGENT_STORAGE__BUCKET_NAME=neuroagent
      - NEUROAGENT_STORAGE__ACCESS_KEY=minioadmin
      - NEUROAGENT_STORAGE__SECRET_KEY=minioadmin
      - NEUROAGENT_REDIS__REDIS_HOST=redis
      - NEUROAGENT_REDIS__REDIS_PORT=6379
    networks:
      - app-network
    depends_on:
      - postgres
      - minio
      - redis

  tasks:
    build:
      context: ./backend
      dockerfile: Dockerfile.tasks
    environment:
      - TASKS_REDIS__REDIS_HOST=redis
      - TASKS_REDIS__REDIS_PORT=6379
      - TASKS_LLM__OPENAI_TOKEN=${OPENAI_API_KEY}
      - TASKS_STORAGE__ENDPOINT_URL=http://minio:9000
      - TASKS_STORAGE__BUCKET_NAME=neuroagent
      - TASKS_STORAGE__ACCESS_KEY=minioadmin
      - TASKS_STORAGE__SECRET_KEY=minioadmin
    networks:
      - app-network
    depends_on:
      - redis
      - minio

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - NEXT_PUBLIC_BACKEND_URL=http://localhost:8078
    environment:
      - NEXTAUTH_URL=http://localhost:3000
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
      - SERVER_SIDE_BACKEND_URL=http://app:8078
      - KEYCLOAK_ISSUER=${KEYCLOAK_ISSUER}
      - KEYCLOAK_SECRET=${KEYCLOAK_SECRET}
      - KEYCLOAK_ID=${KEYCLOAK_ID}
      - NODE_OPTIONS=--dns-result-order=ipv4first
    ports:
      - "3000:3000"
    networks:
      - app-network
    depends_on:
      - app

  postgres:
    image: postgres:15
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=pwd
      - POSTGRES_DB=neuroagent
    ports:
      - "5432:5432"
    networks:
      - app-network
    volumes:
      - postgres_data:/var/lib/postgresql/data

  minio:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    volumes:
      - minio_data:/data
    networks:
      app-network:
        aliases:
          - "minio"    # Alias belongs here with the minio service
    command: server --console-address ":9001" /data

  redis:
    image: redis:7.4.2
    ports:
      - "6379:6379"
    networks:
      - app-network
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  minio_data:
  redis_data:

networks:
  app-network:
    driver: bridge
