# Ignore all but src and alembic
*
!src/neuroagent/*
!pyproject.toml

!alembic/*
!alembic.ini
!docker-entrypoint.sh
!setup_pyodide.mjs

# Ignore the __pycache__ that are in the whitelisted folders.
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
